@import url(reset.css);

.flex-container {
	height: 300px;
	background-color: blue;
	display: flex; /*только при таком свойстве можно делать манип. */
}
.flex-item {
	height: 100px;
	width: 100px;
	background-color: orange;
	margin: auto;
}