@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Oswald');

h3 {
	font-size: 25pt;
	font-weight: bold;

}
h2 {
	background: #C48EEF;
	padding: 20px 5px 20px;
	font-size: 20pt;
	font-weight: bold;
	font-family: Oswald;
	text-transform: uppercase;
}

p {
	font-size: 20pt;
}
a {
	color: white;
}

.image-container {
	width: 1650px;
	height: 600px;
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-position: 300px 0px;
}
